.order-summary {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-family: 'Arial', sans-serif;
    background-color: #fefefc;

}

.cart-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    margin-top: 4rem;
}

.title {
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 5px;

}

.Cart-logo {
    width: 40px;
    height: 60px;
    border-radius: 30px;
}

.subtitle {
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.order-number {
    text-align: center;
    margin-bottom: 15px;
}

.items {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 15px;
    padding: 0.2rem;
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.item img {
    width: 60px;
    height: 60px;
    border-radius: 6px;
    object-fit: cover;
    margin-right: 10px;
}

.item-name {
    flex: 1;
}

.controls {
    display: flex;
    align-items: center;
    gap: 5px;
}

.controls button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1rem;
}

.summary .row {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

.total {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 1.2rem;
    margin: 10px 0;
    padding: 12px;
}

.note {
    font-size: 0.8rem;
    text-align: center;
    margin-bottom: 10px;
}

.checkout-btn {
    width: 100%;
    padding: 10px;
    background-color: #3b4a5a;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
}