.loginPage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.loginPage-header-container {
    margin-top: 10rem;
    width: 100%;
    height: 70px;
    padding: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.loginPage-logo {
    height: 100%;
}

.loginPage-title {
    font-size: 2rem;
    color: #333;
    margin-top: 1rem;
}

.loginPage-btn-container {
    width: 100%;
    margin-top: 3rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginPage-btn {
    background-color: #354C5E;
    color: #FCFDF7;
    border: none;
    padding: 1rem 2rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 4rem;
    width: 65%;
}