.loginPage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.loginPage-header-container {
    margin-top: 10rem;
    width: 100%;
    height: 70px;
    padding: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.loginPage-logo {
    height: 100%;
}

.loginPage-title {
    font-size: 2rem;
    color: #333;
    margin-top: 1rem;
}

.loginPage-btn-container {
    width: 100%;
    margin-top: 3rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginPage-btn {
    background-color: #354C5E;
    color: #FCFDF7;
    border: none;
    padding: 1rem 2rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 4rem;
    width: 65%;
}

.loginPage-register-link,
.loginPage-login-link {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* LOGIN FORM */

.loginForm-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.loginForm-header-container {
    margin-top: 7rem;
    margin-bottom: 3rem;
    width: 100%;
    height: 70px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.loginForm-logo {
    height: 100%;
}

.loginForm-title {
    font-size: 2rem;
    color: #333;
    margin-bottom: 10rem;
}

.loginForm-title {
    margin-top: 10rem;
}

.loginForm-form {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 70%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginForm-input {
    width: 100%;
    padding: 0.75rem;
    margin: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    font-family: poppins, sans-serif;
}

.loginForm-btn {
    background-color: #354C5E;
    color: #FCFDF7;
    border: none;
    padding: 1rem 2rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1.5rem;
    width: 100%;
}

.loginForm-register {
    margin-top: 1.5rem;
    font-size: 0.9rem;
    color: #333;
}